---
layout: default
title: Home
---
<div class="logo">
          _____                    _____                    _____                _____                _____                    _____            _____          
         /\    \                  /\    \                  /\    \              /\    \              /\    \                  /\    \          /\    \         
        /::\    \                /::\    \                /::\    \            /::\    \            /::\    \                /::\____\        /::\    \        
       /::::\    \              /::::\    \              /::::\    \           \:::\    \           \:::\    \              /:::/    /       /::::\    \       
      /::::::\    \            /::::::\    \            /::::::\    \           \:::\    \           \:::\    \            /:::/    /       /::::::\    \      
     /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \           \:::\    \           \:::\    \          /:::/    /       /:::/\:::\    \     
    /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \           \:::\    \           \:::\    \        /:::/    /       /:::/__\:::\    \    
    \:::\   \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \          /::::\    \          /::::\    \      /:::/    /       /::::\   \:::\    \   
  ___\:::\   \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \        /::::::\    \        /::::::\    \    /:::/    /       /::::::\   \:::\    \  
 /\   \:::\   \:::\    \  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\    \      /:::/\:::\    \      /:::/\:::\    \  /:::/    /       /:::/\:::\   \:::\    \ 
/::\   \:::\   \:::\____\/:::/__\:::\   \:::\____\/:::/  \:::\   \:::\____\    /:::/  \:::\____\    /:::/  \:::\____\/:::/____/       /:::/__\:::\   \:::\____\
\:::\   \:::\   \::/    /\:::\   \:::\   \::/    /\::/    \:::\  /:::/    /   /:::/    \::/    /   /:::/    \::/    /\:::\    \       \:::\   \:::\   \::/    /
 \:::\   \:::\   \/____/  \:::\   \:::\   \/____/  \/____/ \:::\/:::/    /   /:::/    / \/____/   /:::/    / \/____/  \:::\    \       \:::\   \:::\   \/____/ 
  \:::\   \:::\    \       \:::\   \:::\    \               \::::::/    /   /:::/    /           /:::/    /            \:::\    \       \:::\   \:::\    \     
   \:::\   \:::\____\       \:::\   \:::\____\               \::::/    /   /:::/    /           /:::/    /              \:::\    \       \:::\   \:::\____\    
    \:::\  /:::/    /        \:::\   \::/    /               /:::/    /    \::/    /            \::/    /                \:::\    \       \:::\   \::/    /    
     \:::\/:::/    /          \:::\   \/____/               /:::/    /      \/____/              \/____/                  \:::\    \       \:::\   \/____/     
      \::::::/    /            \:::\    \                  /:::/    /                                                      \:::\    \       \:::\    \         
       \::::/    /              \:::\____\                /:::/    /                                                        \:::\____\       \:::\____\        
        \::/    /                \::/    /                \::/    /                                                          \::/    /        \::/    /        
         \/____/                  \/____/                  \/____/                                                            \/____/          \/____/         
                                                                                                                                                               
          _____                    _____                    _____                    _____                    _____                                            
         /\    \                  /\    \                  /\    \                  /\    \                  /\    \                                           
        /::\____\                /::\    \                /::\    \                /::\____\                /::\    \                                          
       /:::/    /               /::::\    \              /::::\    \              /:::/    /               /::::\    \                                         
      /:::/    /               /::::::\    \            /::::::\    \            /:::/    /               /::::::\    \                                        
     /:::/    /               /:::/\:::\    \          /:::/\:::\    \          /:::/    /               /:::/\:::\    \                                       
    /:::/____/               /:::/__\:::\    \        /:::/  \:::\    \        /:::/____/               /:::/__\:::\    \                                      
   /::::\    \              /::::\   \:::\    \      /:::/    \:::\    \      /::::\    \               \:::\   \:::\    \                                     
  /::::::\    \   _____    /::::::\   \:::\    \    /:::/    / \:::\    \    /::::::\____\________    ___\:::\   \:::\    \                                    
 /:::/\:::\    \ /\    \  /:::/\:::\   \:::\    \  /:::/    /   \:::\    \  /:::/\:::::::::::\    \  /\   \:::\   \:::\    \                                   
/:::/  \:::\    /::\____\/:::/  \:::\   \:::\____\/:::/____/     \:::\____\/:::/  |:::::::::::\____\/::\   \:::\   \:::\____\                                  
\::/    \:::\  /:::/    /\::/    \:::\  /:::/    /\:::\    \      \::/    /\::/   |::|~~~|~~~~~     \:::\   \:::\   \::/    /                                  
 \/____/ \:::\/:::/    /  \/____/ \:::\/:::/    /  \:::\    \      \/____/  \/____|::|   |           \:::\   \:::\   \/____/                                   
          \::::::/    /            \::::::/    /    \:::\    \                    |::|   |            \:::\   \:::\    \                                       
           \::::/    /              \::::/    /      \:::\    \                   |::|   |             \:::\   \:::\____\                                      
           /:::/    /               /:::/    /        \:::\    \                  |::|   |              \:::\  /:::/    /                                      
          /:::/    /               /:::/    /          \:::\    \                 |::|   |               \:::\/:::/    /                                       
         /:::/    /               /:::/    /            \:::\    \                |::|   |                \::::::/    /                                        
        /:::/    /               /:::/    /              \:::\____\               \::|   |                 \::::/    /                                         
        \::/    /                \::/    /                \::/    /                \:|   |                  \::/    /                                          
         \/____/                  \/____/                  \/____/                  \|___|                   \/____/                                           
                                                                                                                                                               
</div>
<h1>Latest Post</h1>
{% assign page = site.posts.first %}
{% include post.html %}
<h1>More Posts</h1>
<ul class="posts">
{% for post in site.posts limit:10 %}
{% if forloop.index != 1 %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h1>Collaborators</h1>
<div id="collaborators">
</div>

<script>
$(document).ready(function() {
  var url = 'https://api.github.com/repos/crabasa/seattlehacks/collaborators';
  $.getJSON(url + '?callback=?', null, function(response) {
    response.data.forEach(function(collab) {
      $('<a href="' + collab.url + '"><img src=' + collab.avatar_url + '"/></a>').appendTo('#collaborators');
    });    
  });
});
</script>
