---
layout: default
title: Home
---
<div class="logo">
          _____                    _____                    _____                        _____                   _______                   _____                    _____          
         /\    \                  /\    \                  /\    \                      |\    \                 /::\    \                 /\    \                  /\    \         
        /::\____\                /::\    \                /::\____\                     |:\____\               /::::\    \               /::\    \                /::\____\        
       /::::|   |               /::::\    \              /:::/    /                     |::|   |              /::::::\    \             /::::\    \              /:::/    /        
      /:::::|   |              /::::::\    \            /:::/   _/___                   |::|   |             /::::::::\    \           /::::::\    \            /:::/    /         
     /::::::|   |             /:::/\:::\    \          /:::/   /\    \                  |::|   |            /:::/~~\:::\    \         /:::/\:::\    \          /:::/    /          
    /:::/|::|   |            /:::/__\:::\    \        /:::/   /::\____\                 |::|   |           /:::/    \:::\    \       /:::/__\:::\    \        /:::/____/           
   /:::/ |::|   |           /::::\   \:::\    \      /:::/   /:::/    /                 |::|   |          /:::/    / \:::\    \     /::::\   \:::\    \      /::::\    \           
  /:::/  |::|   | _____    /::::::\   \:::\    \    /:::/   /:::/   _/___               |::|___|______   /:::/____/   \:::\____\   /::::::\   \:::\    \    /::::::\____\________  
 /:::/   |::|   |/\    \  /:::/\:::\   \:::\    \  /:::/___/:::/   /\    \              /::::::::\    \ |:::|    |     |:::|    | /:::/\:::\   \:::\____\  /:::/\:::::::::::\    \ 
/:: /    |::|   /::\____\/:::/__\:::\   \:::\____\|:::|   /:::/   /::\____\            /::::::::::\____\|:::|____|     |:::|    |/:::/  \:::\   \:::|    |/:::/  |:::::::::::\____\
\::/    /|::|  /:::/    /\:::\   \:::\   \::/    /|:::|__/:::/   /:::/    /           /:::/~~~~/~~       \:::\    \   /:::/    / \::/   |::::\  /:::|____|\::/   |::|~~~|~~~~~     
 \/____/ |::| /:::/    /  \:::\   \:::\   \/____/  \:::\/:::/   /:::/    /           /:::/    /           \:::\    \ /:::/    /   \/____|:::::\/:::/    /  \/____|::|   |          
         |::|/:::/    /    \:::\   \:::\    \       \::::::/   /:::/    /           /:::/    /             \:::\    /:::/    /          |:::::::::/    /         |::|   |          
         |::::::/    /      \:::\   \:::\____\       \::::/___/:::/    /           /:::/    /               \:::\__/:::/    /           |::|\::::/    /          |::|   |          
         |:::::/    /        \:::\   \::/    /        \:::\__/:::/    /            \::/    /                 \::::::::/    /            |::| \::/____/           |::|   |          
         |::::/    /          \:::\   \/____/          \::::::::/    /              \/____/                   \::::::/    /             |::|  ~|                 |::|   |          
         /:::/    /            \:::\    \               \::::::/    /                                          \::::/    /              |::|   |                 |::|   |          
        /:::/    /              \:::\____\               \::::/    /                                            \::/____/               \::|   |                 \::|   |          
        \::/    /                \::/    /                \::/____/                                              ~~                      \:|   |                  \:|   |          
         \/____/                  \/____/                  ~~                                                                             \|___|                   \|___|          
                                                                                                                                                                                   
          _____                    _____                    _____                    _____                    _____                                                                
         /\    \                  /\    \                  /\    \                  /\    \                  /\    \                                                               
        /::\____\                /::\    \                /::\    \                /::\____\                /::\    \                                                              
       /:::/    /               /::::\    \              /::::\    \              /:::/    /               /::::\    \                                                             
      /:::/    /               /::::::\    \            /::::::\    \            /:::/    /               /::::::\    \                                                            
     /:::/    /               /:::/\:::\    \          /:::/\:::\    \          /:::/    /               /:::/\:::\    \                                                           
    /:::/____/               /:::/__\:::\    \        /:::/  \:::\    \        /:::/____/               /:::/__\:::\    \                                                          
   /::::\    \              /::::\   \:::\    \      /:::/    \:::\    \      /::::\    \               \:::\   \:::\    \                                                         
  /::::::\    \   _____    /::::::\   \:::\    \    /:::/    / \:::\    \    /::::::\____\________    ___\:::\   \:::\    \                                                        
 /:::/\:::\    \ /\    \  /:::/\:::\   \:::\    \  /:::/    /   \:::\    \  /:::/\:::::::::::\    \  /\   \:::\   \:::\    \                                                       
/:::/  \:::\    /::\____\/:::/  \:::\   \:::\____\/:::/____/     \:::\____\/:::/  |:::::::::::\____\/::\   \:::\   \:::\____\                                                      
\::/    \:::\  /:::/    /\::/    \:::\  /:::/    /\:::\    \      \::/    /\::/   |::|~~~|~~~~~     \:::\   \:::\   \::/    /                                                      
 \/____/ \:::\/:::/    /  \/____/ \:::\/:::/    /  \:::\    \      \/____/  \/____|::|   |           \:::\   \:::\   \/____/                                                       
          \::::::/    /            \::::::/    /    \:::\    \                    |::|   |            \:::\   \:::\    \                                                           
           \::::/    /              \::::/    /      \:::\    \                   |::|   |             \:::\   \:::\____\                                                          
           /:::/    /               /:::/    /        \:::\    \                  |::|   |              \:::\  /:::/    /                                                          
          /:::/    /               /:::/    /          \:::\    \                 |::|   |               \:::\/:::/    /                                                           
         /:::/    /               /:::/    /            \:::\    \                |::|   |                \::::::/    /                                                            
        /:::/    /               /:::/    /              \:::\____\               \::|   |                 \::::/    /                                                             
        \::/    /                \::/    /                \::/    /                \:|   |                  \::/    /                                                              
         \/____/                  \/____/                  \/____/                  \|___|                   \/____/                                                               
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
</div>
<h1>Latest Post</h1>
{% assign page = site.posts.first %}
{% include post.html %}
<h1>More Posts</h1>
<ul class="posts">
{% for post in site.posts limit:10 %}
{% if forloop.index != 1 %}
<li><small>Posted <span>{{ post.date | date_to_string }}</span></small> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h1>Community</h1>
<p>This site would not be possible without the contributions of the developer
community here in New York, one pull request at a time. Thank you!</p>
<div id="collaborators">
</div>

<script>
function renderPeeps(peeps) {
  peeps.forEach(function(peep) {
    $('<a href="' + peep.url + '"><img width="80" height="80" src="' + peep.avatar_url + '"/></a>').appendTo('#collaborators');
  });    
}

$(document).ready(function() {
  var peeps = {};
  var forksUrl = 'https://api.github.com/repos/jonmarkgo/nyhacks/forks?callback=?'; 
  var collabsUrl = 'https://api.github.com/repos/jonmarkgo/nyhacks/collaborators?callback=?';
  $.when( $.getJSON(forksUrl), $.getJSON(collabsUrl) ).done(function(forks, collabs) {
    console.log(forks);
    forks[0].data.forEach(function(fork) {
      peeps[fork.owner.login] = {url: 'https://github.com/'+fork.owner.login, avatar_url: fork.owner.avatar_url};
    });
    collabs[0].data.forEach(function(collab) {
      peeps[collab.login] = {url: 'https://github.com/'+collab.login, avatar_url: collab.avatar_url};
    });
    renderPeeps(_.values(peeps));
  });
});
</script>
