<div class="post">
<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
<div class="byline">Submitted by: <span id="author"></span>
| Tags: {% for tag in page.tags %}{{ tag }} {% endfor %}
|

<!-- Social Links -->
    <!-- Google+ -->
    <div class="g-plusone" data-size="medium" data-href="{{ site.meta.absolute_baseurl }}{{ page.url }}"></div>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.meta.absolute_baseurl }}{{ page.url }}" data-related="seattlehacks">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>
{% if page.event-name %}
<div class="event-info">
  <div class="name"><strong>Name:</strong> {{page.event-name}}</div>
  <div class="start"><strong>Start:</strong> {{page.event-start | date: "%b %d %Y, %I:%M %p"}}</div>
  <div class="end"><strong>End:</strong> {{page.event-end | date: "%b %d %Y, %I:%M %p"}}</div>
  <div class="venue"><strong>Venue:</strong> {{page.event-venue}}</div>
  <div class="website"><strong>Website:</strong> <a href="{{page.event-website}}">{{page.event-website}}</a></div>
  <div class="address"><a href="//maps.google.com/maps?q={{page.event-address | cgi_escape}}"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{page.event-address | cgi_escape}}&markers=size:mid%7Ccolor:red%7C{{page.event-address | cgi_escape}}&size=340x200&maptype=roadmap&zoom=16&sensor=false"/></a></div>
</div>
{% endif %}
{{ page.content | markdownify }}
</div>
<script>
$(document).ready(function() {
  var url = 'https://api.github.com/users/{{ page.author }}';
  $.getJSON(url + '?callback=?', null, function(response) {
    $('<a href="' + response.data.html_url + '">' + response.data.login + '</a>').appendTo('#author');
  });
});
</script>
