body {
  padding-top: 40px;
  background-color: #eee;
  margin: 0px 50px;
}


.navbar .navbar-inner {
  /*background-color: #5B9C64;*/
  /*background-image: -webkit-linear-gradient(top, #5B9C64, #517B58);*/
  padding-left: 20px;
}


h1.extra {
  color: #5B9C64;
  margin-bottom:10px;
  border-bottom: 4px solid #5B9C64;
  font-size:46px;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 0 20px 20px 20px;
  margin: 0px auto; 
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.logo { 
  font-family: 'Courier New';
  white-space: pre;
  font-size:6px;
  line-height:6px;
  font-weight:bold;
}

.event-info {
  margin:5px 0 5px 0;
  padding:5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.byline { 
  color: #999; 
  margin-bottom:10px;
  padding-bottom:5px;
  border-bottom: 2px solid #999;
  font-size:1.2em; 
}

.event { margin-bottom: 5px }

footer { margin-top: 30px }

/* hacks to remove extraneous width of social buttons */
#___plusone_0 {
  width: 70px !important;
}

#twitter-widget-0 {
  width: 87px !important;
}
